.about-me-wrapper{
    /* background-color: yellow; */
    margin: 0 5vw 0 5vw;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: large;
}

.about-me-photo{
    height: 70vw;
    margin: 5vw;
}