.button-wrapper{
    /* height: 4vh; */
    /* width: 4vw; */
    padding: .5vh;
}

.githubButton{
    display: flex;
    align-items: center;
    color: rgb(114, 114, 114);
    border-radius: .8vw;
}

.githubButton:hover{
    cursor: pointer;
}

.githubLogo{
    height: 4vh;
    padding: .2vw;
}

.button-text{
    padding: 3px;
}