.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link-wrapper {
    padding: 5vw;
}

.nav-link{
    padding: 1vw;
}

.app-logo {
    height: 15vh;
}