.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link-wrapper {
    padding-right: 5vw;
    padding-top: 1vh;
    display: flex;
    align-items: center;
}

.nav-link{
    font-size: 80%;
    padding: .8vw;
    margin: .8vw;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: .5vh;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgb(185, 185, 185);
}

.git-link{
    /* background-color: hotpink; */
    border-radius: .5vh;
}

.app-logo {
    height: 10vh;
}